body {
background-color: #DCDCDC;
}
p {
font-family: Segoe UI;
text-align: center;
}
input {
display: block;
margin: auto;
border: 2px #4D4D4D;
border-radius: 4px;
height:30px;
width:50%;
font-size: 20px;
text-align: center;
}